<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- database connection properties -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nutrif?useSSL=false&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;useTimezone=true&amp;serverTimezone=America/Fortaleza</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">ifpbinfo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		 
		<!-- show mysql queries output in console -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>		
		
		<!-- manage automatic database creation -->
		<property name="hibernate.hbm2ddl.auto">update</property>	
			
		<!-- <property name="hibernate.discriminator.ignore_explicit_for_joined">true</property> -->

		<!-- JDBC connection pool (use the built-in) -->
		<property name="current_session_context_class">thread</property> 

		<!-- Produção -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> 
		<!-- <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>  -->
		<property name="connection.pool_size">10</property>
		<property name="c3p0.min_size">5</property>
		<property name="c3p0.max_size">20</property>
		<property name="c3p0.timeout">300</property>
		<property name="c3p0.max_statements">50</property>
		<property name="c3p0.idle_test_period">1</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
		
		<!-- Jadira -->
		<property name="jadira.usertype.autoRegisterUserTypes">true</property>
		
		<!-- Entidades -->
		<mapping class="br.edu.ladoss.entity.Pessoa" />
		<mapping class="br.edu.ladoss.entity.Aluno" />
		<mapping class="br.edu.ladoss.entity.Funcionario" />
		<mapping class="br.edu.ladoss.entity.Curso" />
		<mapping class="br.edu.ladoss.entity.Dia" />
		<mapping class="br.edu.ladoss.entity.Refeicao" />
		<mapping class="br.edu.ladoss.entity.DiaRefeicao" />
		<mapping class="br.edu.ladoss.entity.Campus" />
		<mapping class="br.edu.ladoss.entity.Edital" />
		<mapping class="br.edu.ladoss.entity.Evento" />
		<mapping class="br.edu.ladoss.entity.RefeicaoRealizada" />
		<mapping class="br.edu.ladoss.entity.ConfirmaRefeicaoDia" />
		<mapping class="br.edu.ladoss.entity.PretensaoRefeicao" />
		<mapping class="br.edu.ladoss.entity.Role" />
		<mapping class="br.edu.ladoss.entity.Arquivo" />
		<mapping class="br.edu.ladoss.entity.Login" />
		<mapping class="br.edu.ladoss.entity.Logout" />
		<mapping class="br.edu.ladoss.entity.Setor" />
		<mapping class="br.edu.ladoss.entity.Error" />
		<mapping class="br.edu.ladoss.entity.Turno" />
		<mapping class="br.edu.ladoss.entity.Turma" />
		<mapping class="br.edu.ladoss.entity.Periodo" />
		<mapping class="br.edu.ladoss.entity.Nivel" />			

	</session-factory>
</hibernate-configuration>