<md-dialog aria-label="Adicionar Dia de Refeição" style="width:50%;" ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="column">
                <md-card>
                    <md-table-container>
                        <!-- Cabeçalho de opções -->
                        <md-card-header>
                            <md-card-avatar>
                                <ng-md-icon icon="place" size="42"></ng-md-icon>
                            </md-card-avatar>

                            <md-card-header-text>
                                <span class="md-title"> Refeição Realizada do Aluno no Restaurante Estudantil</span>
                                <span class="md-subhead">
                        Confirme o Dia de Refeição do Aluno ou cancele para voltar para a pesquisa.
                    </span>
                            </md-card-header-text>
                        </md-card-header>

                        <!-- Tabela -->
                        <md-table-container>
                            <table md-table>
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>Nome</th>
                                        <th md-column>Matrícula</th>
                                        <th md-column>Tipo da Refeição</th>
                                        <th md-column>Dia de Refeição</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row>
                                        <td md-cell>{{diaRefeicao.matricula.aluno.nome | uppercase}}</td>
                                        <td md-cell>{{diaRefeicao.matricula.numero}}</td>
                                        <td md-cell>{{diaRefeicao.refeicao.tipo | uppercase}}</td>
                                        <td md-cell>{{diaRefeicao.dia.nome | uppercase}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </md-table-container>
                    </md-table-container>
                </md-card>





                <!--    <md-table-container>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column>Nome</th>
                                <th md-column>Matrícula</th>
                                <th md-column>Tipo da Refeição</th>
                                <th md-column>Dia de Refeição</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row>
                                <td md-cell>{{diaRefeicao.matricula.aluno.nome | uppercase}}</td>
                                <td md-cell>{{diaRefeicao.matricula.numero}}</td>
                                <td md-cell>{{diaRefeicao.refeicao.tipo | uppercase}}</td>
                                <td md-cell>{{diaRefeicao.dia.nome | uppercase}}</td>
                            </tr>
                        </tbody>

                    </table>
                </md-table-container>-->
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="fechar()" class="md-warn">
            Cancelar
        </md-button>
        <md-button ng-click="adicionar()" class="md-primary" style="margin-right:20px;">
            Confirmar
        </md-button>
    </md-dialog-actions>
</md-dialog>