<md-content flex layout-padding>
    <md-card>

        <md-card-header>
            <md-card-avatar>
                <ng-md-icon icon="assignment_ind" size="42"></ng-md-icon>
            </md-card-avatar>

            <md-card-header-text>
                <span class="md-title">Editar Matrícula</span>
                <span class="md-subhead">Clique nesse botão salvar para alterar as informações básicas da Matrícula e redirecionar para os dados básicos do Aluno.</span>
            </md-card-header-text>

            <!-- Salvar alterações -->
            <md-card-icon-actions>
                <md-button aria-label="Salvar Alterações dos dados básicos da Matrícula para o Aluno." ng-click="atualizar()">
                    <md-tooltip md-direction="bottom">Salvar Matrícula</md-tooltip>
                    <ng-md-icon icon="save" size="42"></ng-md-icon>
                </md-button>
            </md-card-icon-actions>
        </md-card-header>

        <md-card-content layout="column">
            <form layout="column">

                <!-- Nome -->
                <md-input-container class="md-icon-float md-block">
                    <label>Nome</label>
                    <input ng-model="matricula.aluno.nome" ng-readonly="true" type="text" required>
                </md-input-container>

                <!-- Matrícula -->
                <!-- Número -->
                <md-input-container class="md-icon-float md-block">
                    <label>Número</label>
                    <input ng-model="matricula.numero" type="text" required>
                </md-input-container>

                <!-- Curso 
                <md-input-container class="md-icon-float md-block">
                    <label>Trilha</label>
                    <md-autocomplete md-input-name="autocompleteField" md-search-text="editarApresentacoes.nomeTrilha" md-items="trilha in editarApresentacoes.pesquisarTrilhaNome(editarApresentacoes.nomeTrilha)" md-selected-item="editarApresentacoes.trilhaSelecionada" md-item-text="trilha.nome" md-input-minlength="3" md-input-maxlength="255" required flex>
                        <md-item-template>
                            <span md-highlight-text="editarApresentacoes.nomeTrilha">{{trilha.nome}}</span>
                        </md-item-template>
                        <md-not-found>
                            Nenhuma trilha foi encontrada.
                            <a ui-sref="administrador.adicionar-trilhas">Deseja criar?</a>
                        </md-not-found>
                    </md-autocomplete>
                </md-input-container>
                -->
                <!-- Curso -->
                <md-input-container class="md-icon-float md-block">
                    <label>Curso</label>
                    <md-select ng-model="matricula.curso.id" aria-label="Selecione o Curso">
                        <md-option ng-repeat="curso in cursos" value="{{curso.id}}">
                            {{curso.nome + " - " + curso.campus.cidade}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!-- Turno -->
                <md-input-container class="md-icon-float md-block">
                    <label>Turno</label>
                    <md-select ng-model="matricula.turno.id" aria-label="Selecione o Turno">
                        <md-option ng-repeat="turno in turnos" value="{{turno.id}}">
                            {{turno.nome}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!-- Periodo -->
                <md-input-container class="md-icon-float md-block">
                    <label>Período</label>
                    <md-select ng-model="matricula.periodo.id" aria-label="Selecione o Período">
                        <md-option ng-repeat="periodo in periodos" value="{{periodo.id}}">
                            {{periodo.nome}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!-- Turma -->
                <md-input-container class="md-icon-float md-block">
                    <label>Turma</label>
                    <md-select ng-model="matricula.turma.id" aria-label="Selecione a Turma">
                        <md-option ng-repeat="turma in turmas" value="{{turma.id}}">
                            {{turma.nome}}
                        </md-option>
                    </md-select>
                </md-input-container>
                
                <!-- Situação da Matrícula -->
                <md-input-container class="md-icon-float md-block">
                    <label>Situação da Matrícula</label>
                    <md-select ng-model="matricula.situacao.id" aria-label="Selecione a Situação da Matrícula">
                        <md-option ng-repeat="situacao in situacoes" value="{{situacao.id}}">
                            {{situacao.nome}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </form>
        </md-card-content>
    </md-card>
    
    <!-- Dia de Refeição -->
    <md-card>
        <md-card-content layout="column">
            <!-- Adição e remoção de Dia de Refeição -->
            <md-tabs md-dynamic-height md-border-bottom>
                <!-- Tab 1 -->
                <md-tab label="Dia de Refeição">
                    <md-card>
                        <md-card-header>
                            <md-card-avatar>
                                <ng-md-icon icon="list" size="36"></ng-md-icon>
                            </md-card-avatar>

                            <md-card-header-text>
                                <span class="md-title">Gerenciar Dias de Refeição</span>
                                <span class="md-subhead">Selecione o(s) Dia(s) de Refeição para Remover ou Adicione um novo.</span>
                            </md-card-header-text>

                            <md-card-actions layout="row">
                                <md-card-icon-actions>

                                    <md-button class="md-icon-button" aria-label="Apagar Matrículas" ng-click="removerDiaRefeicao(selected)">
                                        <md-tooltip md-direction="bottom">Apagar Dias de Refeição</md-tooltip>
                                        <ng-md-icon icon="delete" size="24"></ng-md-icon>
                                    </md-button>

                                    <md-button class="md-icon-button" aria-label="Adicionar Matrícula" ng-click="adicionarDiaRefeicao()">
                                        <md-tooltip md-direction="bottom">Adicionar Dia de Refeição</md-tooltip>
                                        <ng-md-icon icon="add" size="24"></ng-md-icon>
                                    </md-button>

                                </md-card-icon-actions>
                            </md-card-actions>
                        </md-card-header>

                        <md-table-container>
                            <table md-table md-row-select multiple ng-model="selectedDiasRefeicao">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>Tipo da Refeição</th>
                                        <th md-column>Campus</th>
                                        <th md-column>Dia da Refeição</th>
                                        <th md-column>Edital</th>
                                        <th md-column>Validade</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select="diaRefeicao" md-select-id="id" md-auto-select ng-repeat="diaRefeicao in diasRefeicao">
                                        <td md-cell>{{diaRefeicao.refeicao.tipo | uppercase}}</td>
                                        <td md-cell>{{diaRefeicao.refeicao.campus.cidade | uppercase}}</td>
                                        <td md-cell>{{diaRefeicao.dia.nome | uppercase}}</td>
                                        <td md-cell>{{diaRefeicao.edital.nome | uppercase}}</td>
                                        <td md-cell>{{diaRefeicao.edital.dataInicial | date:'dd/MM/yyyy'}}{{" - "}}{{diaRefeicao.edital.dataFinal | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-card>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</md-content>