<md-content flex layout-padding>
    <md-card>
        <md-table-container>
            <!-- Cabeçalho de opções -->
            <md-card-header>
                <md-card-avatar>
                    <ng-md-icon icon="place" size="42"></ng-md-icon>
                </md-card-avatar>

                <md-card-header-text>
                    <span class="md-title">Campus</span>
                    <span class="md-subhead">
                        Digite o nome do Campus no campo abaixo para buscar ou selecione a opção para adicionar um novo registro. Para adicionar um novo Campus clique no botão Adicionar Campus.                    
                    </span>
                </md-card-header-text>

                <md-card-actions layout="row">
                    <md-card-icon-actions>
                        <md-button aria-label="Adicionar Refeição" ui-sref="administrador.adicionar-campus">
                            <ng-md-icon icon="add" size="42"></ng-md-icon>
                            <md-tooltip md-direction="bottom">
                                Adicionar Campus
                            </md-tooltip>
                        </md-button>
                    </md-card-icon-actions>
                </md-card-actions>
            </md-card-header>

            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">

                    <ng-md-icon icon="search" size="32"></ng-md-icon>

                    <div class="toolbar-input" flex>
                        <input type="text" ng-model="cidade" ng-keyup="pesquisar()" placeholder="Cidade do Campus">
                    </div>

                    <md-button aria-label="Limpar Busca" ng-click="limparBusca()">
                        <md-tooltip md-direction="bottom">Limpar Busca</md-tooltip>
                        <ng-md-icon icon="clear" size="32"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <!-- Tabela -->
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column>Sigla</th>
                        <th md-column>Cidade</th>
                    </tr>
                </thead>

                <tbody md-body>
                    <tr md-row ng-repeat="campus in campi | limitTo: query.limit: (query.page - 1) * query.limit">
                        <td md-cell>{{campus.cidade | uppercase}}</td>
                        <td md-cell>{{campus.sigla | uppercase}}</td>
                        <td md-cell>
                            <md-button aria-label="Editar Campus" ui-sref="administrador.editar-campus({id: campus.id})" ui-sref-opts="{reload: true}">
                                <ng-md-icon icon="edit" size="18"></ng-md-icon>
                                <md-tooltip md-direction="bottom">
                                    Editar
                                </md-tooltip>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{refeicoes.length}}" md-page-select></md-table-pagination>
    </md-card>
</md-content>