<div class="main" flex layout="row">

    <div layout="row" ng-include="'view/templates/manager/sidenav.html'"></div>
    
    <div flex layout="column">

        <div ng-include="'view/templates/manager/toolbar-manager.html'"></div>

        <md-content class="home-background" flex layout="column">
            <div class="container-margin">
                <div ui-view></div>
            </div>
            <span flex></span>
            <div ng-include="'view/templates/footer.html'"></div>
        </md-content>

    </div>
</div>
