<div layout="row" layout-align="center center" class="form-whiteframe">
    <md-card flex-gt-sm="35" flex-gt-lg="30" flex-sm="50" flex-xs="90" class="form-body">

        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-display-2-light">Entrar</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content layout="column">

            <form layout-align="center none" ng-submit="login.fazerLogin(login.funcionario)">

                <md-input-container class="md-icon-float md-block">
                    <md-icon md-svg-src="img/icon/round-account-button-with-user-inside.svg"/></md-icon>
                    <label>Email</label>
                    <input ng-model="login.funcionario.email" type="email">
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Senha</label>
                    <md-icon md-svg-src="img/icon/locked-padlock.svg" class="name"></md-icon>
                    <input ng-model="login.funcionario.senha" type="password">
                </md-input-container>

                <md-button layout-fill type="submit" class="md-raised md-primary md-hue-1">Entrar</md-button>

            </form>

            <div layout="row" style="margin-top: 17px">
                <span flex></span>
                <span class="md-subhead">OU</span>
                <span flex></span>
            </div>

            <md-button class="md-primary md-hue-1" ui-sref="login.pretensao">Pretensão Refeição</md-button>

        </md-card-content>
    </md-card>
</div>
