<md-card layout-padding style="padding-left: 6%; padding-right: 6%; padding-bottom: 4%; padding-top: 3%">
    <form layout="column" ng-submit="cadastrarRefeicao.cadastrar(cadastrarRefeicao.refeicao)">

        <!-- Nome -->
        <md-input-container class="md-icon-float md-block">
            <label>Nome</label>
            <input ng-model="cadastrarRefeicao.refeicao.tipo" type="text" required>
        </md-input-container>

        <!-- Horário de Início -->
        <md-input-container flex-gt-md="30">
            <label>Horário de Início</label>
            <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true" placeholder="hh:mm:ss" min-date="minDate" format="hh:mm:ss" ng-model="cadastrarRefeicao.refeicao.horaInicio" required>
        </md-input-container>

        <!-- Horário de Fim -->
        <md-input-container flex-gt-md="30">
            <label>Horário de Fim</label>
            <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true" placeholder="hh:mm:ss" min-date="minDate" format="hh:mm:ss" ng-model="cadastrarRefeicao.refeicao.horaFinal" required>
        </md-input-container>

        <!-- Custo -->       
        <md-input-container class="md-icon-float md-block">
            <label>Custo</label>
            <input currency-mask ng-model="cadastrarRefeicao.refeicao.custo"/>
        </md-input-container>

        <!-- Tempo que antecede a refeição e será permitido para lançamento da Pretensao -->
        <md-input-container flex-gt-md="30">
            <label>Previsão da Pretensão</label>
            <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true" placeholder="hh:mm:ss" min-date="minDate" format="hh:mm:ss" ng-model="cadastrarRefeicao.refeicao.horaPrevisaoPretensao" required>
            <div class="hint">Tempo em <b>horas, minutos e segundos</b> que antecede a Refeição e permite ao beneficiário solicitar a Pretensão.</div>
        </md-input-container>

        <md-button type="submit" layout-fill type="submit" class="md-raised md-primary md-hue-1 flex" style="margin-top: 40px">Cadastrar Refeição</md-button>
    </form>
</md-card>