<md-card layout-padding style="padding-left: 6%; padding-right: 6%; padding-bottom: 4%; padding-top: 3%">

  <!-- Formulário -->
  <form layout="column" ng-submit="cadastrarEdital.cadastrar(cadastrarEdital.edital)">

    <md-input-container class="md-icon-float md-block">
      <label>Nome</label>
      <input ng-model="cadastrarEdital.edital.nome" type="text" required>
    </md-input-container>

    <!-- Evento -->
    <md-input-container class="md-icon-float md-block">
      <label>Evento</label>
      <md-select ng-model="cadastrarEdital.edital.evento.id" required>
        <md-option ng-repeat="evento in eventos" value="{{evento.id}}" >
          {{evento.nome}}
        </md-option>
      </md-select>
    </md-input-container>

    <!-- Responsável -->
    <md-input-container class="md-icon-float md-block">
      <label>Responsável</label>
      <md-chips ng-model="cadastrarEdital.responsaveis"
        md-autocomplete-snap=""
        md-transform-chip="cadastrarEdital.transformChip($responsavel)"
        md-require-match="cadastrarEdital.autocompleteDemoRequireMatch">
        <md-autocomplete
          md-selected-item="cadastrarEdital.selectedItem"
          md-search-text="cadastrarEdital.searchText"
          md-items="responsavel in cadastrarEdital.buscarResponsaveis(cadastrarEdital.searchText)"
          md-item-text="responsavel.nome"
          md-min-length="3"
          md-no-cache="true"
          placeholder="Responsável">
          <md-chip-template>
            <span md-highlight-text="cadastrarEdital.searchText">
              {{responsavel.nome}}
            </span>
          </md-chip-template>
        </md-autocomplete>
      </md-chips>
    </md-input-container>

    <!-- Campus -->
    <md-input-container class="md-icon-float md-block">
      <label>Campus</label>
      <md-select ng-model="cadastrarEdital.edital.campus.id" required="true">
        <md-option ng-repeat="campus in campi" value="{{campus.id}}" >
          {{campus.cidade}}
        </md-option>
      </md-select>
    </md-input-container>

    <!-- Quantidade de contemplados -->
    <md-input-container class="md-icon-float md-block">
      <label>Quantidade de contemplados</label>
      <input ng-model="cadastrarEdital.edital.quantidadeBeneficiadosPrevista" type="text" required>
    </md-input-container>

    <!-- Validade -->
    <md-content>
      <label>Validade</label>
      <md-datepicker ng-model="cadastrarEdital.edital.dataInicial" md-placeholder="Início">
      </md-datepicker>
      <md-datepicker ng-model="cadastrarEdital.edital.dataFinal" md-placeholder="Fim">
      </md-datepicker>
    </md-content>

    <md-button type="submit" layout-fill type="submit" class="md-raised md-primary md-hue-1 flex"
    style="margin-top: 40px">
    Cadastrar Edital
  </md-button>
</form>

</md-card>
