<md-card layout-padding style="padding-left: 6%; padding-right: 6%; padding-bottom: 4%; padding-top: 3%">

    <!-- Formulário -->
    <form layout="column" ng-submit="cadastrarEdital.cadastrar(cadastrarEdital.edital)">

        <md-input-container class="md-icon-float md-block">
            <label>Nome</label>
            <input ng-model="cadastrarEdital.edital.nome" type="text" required>
            <div class="hint">Informe o nome do Edital. Não é necessário informar nesse campo o nome do nutricionista, técnico ou professor responsável.</div>
        </md-input-container>

        <!-- Evento -->
        <md-input-container class="md-icon-float md-block">
            <label>Evento</label>
            <md-select ng-model="cadastrarEdital.edital.evento.id" required>
                <md-option ng-repeat="evento in eventos" value="{{evento.id}}">
                    {{evento.nome}}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- Responsável -->
        <md-autocomplete flex md-selected-item="cadastrarEdital.selectedItem" md-search-text="cadastrarEdital.searchText" md-items="responsavel in cadastrarEdital.buscarResponsaveis(cadastrarEdital.searchText)" md-item-text="responsavel.nome" md-min-length="3" md-no-cache="true" md-auto-focus="false" md-floating-label="Responsavel" placeholder="Responsável" required>
            <md-item-template>
                <span md-highlight-text="cadastrarEdital.searchText">
          {{responsavel.nome}}
                </span>
            </md-item-template>
            <div class="hint">Informe o nome do responsável pela execução (Nutricionista ou Técnico) ou solicitação (Professor) do edital para fornecimento de refeições.</div>
        </md-autocomplete>
        


        <!-- Campus -->
        <md-input-container class="md-icon-float md-block">
            <label>Campus</label>
            <md-select ng-model="cadastrarEdital.edital.campus.id" required="true">
                <md-option ng-repeat="campus in campi" value="{{campus.id}}">
                    {{campus.cidade}}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- Quantidade de contemplados -->
        <md-input-container class="md-icon-float md-block">
            <label>Cota</label>
            <input ng-model="cadastrarEdital.edital.quantidadeBeneficiadosPrevista" type="text" required>
        </md-input-container>

        <!-- Validade -->
        <md-content>
            <label>Validade</label>
            <md-datepicker ng-model="cadastrarEdital.edital.dataInicial" md-placeholder="Início" md-format="DD/MM/YYYY" ng-required="true">
            </md-datepicker>
            <md-datepicker ng-model="cadastrarEdital.edital.dataFinal" md-placeholder="Fim" md-format="DD/MM/YYYY" ng-required="true">
            </md-datepicker>
        </md-content>

        <!-- Pretensão -->
        <md-input-container class="md-icon-float md-block">
            <md-checkbox ng-model="cadastrarEdital.edital.previstoPretensao" aria-label="Obrigatório Pretensão">
                Obrigatória a realização da Pretensão.
            </md-checkbox>
            <div class="hint">Realização da pretensão para todos os beneficiários do Edital.</div>
        </md-input-container>

        <md-button type="submit" layout-fill type="submit" class="md-raised md-primary md-hue-1 flex" style="margin-top: 40px">
            Cadastrar Edital
        </md-button>
    </form>

</md-card>