<md-card>
    <md-card-header>

        <md-card-avatar>
            <md-icon class="md-avatar-icon" md-svg-icon="img/icon/create-new-pencil-button.svg"></md-icon>
        </md-card-avatar>

        <md-card-header-text>
            <span class="md-title">Editar informações do edital</span>
            <span class="md-subhead">Clique em salvar para alterar as informações</span>
        </md-card-header-text>

        <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Salvar alterações" ng-click="atualizar(editalCopy)">
                <md-tooltip md-direction="bottom">Salvar Alterações</md-tooltip>
                <md-icon md-svg-icon="img/icon/save-button.svg"></md-icon>
            </md-button>
        </md-card-icon-actions>

    </md-card-header>
    <md-card-content layout="column">

		<!-- Nome -->
        <md-input-container class="md-icon-float md-block">
            <label>Nome</label>
            <input ng-model="editalCopy.nome" type="text">
        </md-input-container>

		<!-- Evento -->
        <md-input-container flex>
            <label>Evento</label>
            <md-select ng-model="editalCopy.evento.id" aria-label="Selecione o evento">
                <md-option ng-repeat="evento in eventos" value="{{evento.id}}">
                    {{evento.nome}}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- Responsável -->
        <md-input-container class="md-icon-float md-block">
          <md-chips ng-model="editarEdital.responsaveis"
            md-autocomplete-snap=""
            md-transform-chip="editarEdital.transformChip($responsavel)"
            md-require-match="editarEdital.autocompleteDemoRequireMatch">
            <md-autocomplete
              md-selected-item="editarEdital.selectedItem"
              md-search-text="editarEdital.searchText"
              md-items="responsavel in editarEdital.responsaveis"
              md-item-text="responsavel.nome"
              md-min-length="3"
              md-no-cache="true"
              placeholder="Responsável">
              <md-chip-template>
                <span md-highlight-text="editarEdital.searchText" value="{{responsavel.id}}">
                  {{responsavel.nome}}
                </span>
              </md-chip-template>
            </md-autocomplete>
          </md-chips>
        </md-input-container>

		<!-- Campus -->
        <md-input-container flex>
            <label>Campus</label>
            <md-select ng-model="editalCopy.campus.id" aria-label="Selecione o campus">
                <md-option ng-repeat="campus in campi" value="{{campus.id}}">
                    {{campus.cidade}}
                </md-option>
            </md-select>
        </md-input-container>

		<!-- Quantidade de contemplados -->
		<md-input-container class="md-icon-float md-block">
			<label>Quantidade de contemplados</label>
			<input ng-model="editalCopy.quantidadeBeneficiadosPrevista" type="text" required>
		</md-input-container>

		<!-- Validade -->
		<md-content>
			<label>Validade</label>
			<md-datepicker ng-model="editalCopy.dataInicial" md-placeholder="Início">
			</md-datepicker>
			<md-datepicker ng-model="editalCopy.dataFinal" md-placeholder="Fim">
			</md-datepicker>
		</md-content>

    </md-card-content>
</md-card>
