<md-card>
    <md-card-header>

        <md-card-avatar>
            <md-icon class="md-avatar-icon" md-svg-icon="img/icon/create-new-pencil-button.svg"></md-icon>
        </md-card-avatar>

        <md-card-header-text>
            <span class="md-title">Editar informações do funcionário</span>
            <span class="md-subhead">Clique em salvar para alterar as informações</span>
        </md-card-header-text>

        <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Salvar alterações" ng-click="atualizar(funcionarioCopy)">
                <md-tooltip md-direction="bottom">Salvar Alterações</md-tooltip>
                <md-icon md-svg-icon="img/icon/save-button.svg"></md-icon>
            </md-button>
        </md-card-icon-actions>

    </md-card-header>
    <md-card-content layout="column">

        <md-input-container class="md-icon-float md-block">
            <label>Nome Completo:</label>
            <input ng-model="funcionarioCopy.nome" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <label>Email</label>
            <input ng-model="funcionarioCopy.email" type="text">
        </md-input-container>
        
        <md-input-container flex>
            <label>Cargo:</label>
            <md-select ng-model="funcionarioCopy.roles[0].id" aria-label="Selecione o cargo">
                <md-option ng-repeat="role in roles" value="{{role.id}}">
                    {{role.nome}}
                </md-option>
            </md-select>
        </md-input-container>

    </md-card-content>
</md-card>


