
<md-card>
  <md-card-header>

    <md-card-avatar>
      <md-icon class="md-avatar-icon" md-svg-icon="img/icon/create-new-pencil-button.svg"></md-icon>
    </md-card-avatar>

    <md-card-header-text>
      <span class="md-title">Editar informações do aluno</span>
      <span class="md-subhead">Clique em salvar para alterar as informações</span>
    </md-card-header-text>

    <!-- Foto do Perfil -->
    <md-card-icon-actions>
      <md-button class="md-icon-button" aria-label="Perfil Aluno" ng-click="perfilAluno()" >
        <md-tooltip md-direction="bottom">Perfil Aluno</md-tooltip>
        <md-icon md-svg-icon="img/icon/camera.svg"></md-icon>
      </md-button>
    </md-card-icon-actions>

    <!-- Salvar alterações -->
    <md-card-icon-actions>
      <md-button class="md-icon-button" aria-label="Salvar alterações" ng-click="atualizar(alunoCopy)">
        <md-tooltip md-direction="bottom">Salvar Alterações</md-tooltip>
        <md-icon md-svg-icon="img/icon/save-button.svg"></md-icon>
      </md-button>
    </md-card-icon-actions>

  </md-card-header>
  <md-card-content layout="column">

    <!-- Nome -->
    <md-input-container class="md-icon-float md-block">
      <label>Nome</label>
      <input ng-model="alunoCopy.nome" type="text">
    </md-input-container>

    <!-- Matrícula -->
    <md-input-container class="md-icon-float md-block">
      <label>Matrícula</label>
      <input ng-model="alunoCopy.matricula">
    </md-input-container>

    <!-- Curso -->
    <md-input-container flex>
      <label>Curso</label>
      <md-select ng-model="alunoCopy.curso.id" aria-label="Selecione o curso">
        <md-option ng-repeat="curso in cursos" value="{{curso.id}}">
          {{curso.nome}}
        </md-option>
      </md-select>
    </md-input-container>

    <!-- Campus -->
    <md-input-container class="md-icon-float md-block">
      <label>Campus</label>
      <md-select ng-model="alunoCopy.campus.id" required="true">
        <md-option ng-repeat="campus in campi" value="{{campus.id}}" >
          {{campus.cidade}}
        </md-option>
      </md-select>
    </md-input-container>

  </md-card-content>
</md-card>

<!-- Tab 1 -->
<!-- Adição e remoção de Dia de refeição -->
<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Refeições atuais">
    <md-card>
      <md-card-header>
        <md-card-avatar>
          <md-icon class="md-avatar-icon" md-svg-icon="img/icon/view-list-button.svg"></md-icon>
        </md-card-avatar>

        <md-card-header-text>
          <span class="md-title">Gerenciar refeições</span>
          <span class="md-subhead">Selecione as refeições para remover ou adicione uma nova</span>
        </md-card-header-text>

        <md-card-actions layout="row">
          <md-card-icon-actions>

            <md-button class="md-icon-button" aria-label="Apagar Refeições"
              ng-click="apagarAlunos(selected)">
              <md-tooltip md-direction="bottom">Apagar Refeições</md-tooltip>
              <md-icon md-svg-icon="img/icon/rubbish-bin-delete-button.svg"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="Adicionar Refeições"
              ng-click="adicionaRefeicao()">
              <md-tooltip md-direction="bottom">Adicionar Refeições</md-tooltip>
              <md-icon md-svg-icon="img/icon/add-plus-button.svg"></md-icon>
            </md-button>

          </md-card-icon-actions>
        </md-card-actions>
      </md-card-header>

      <md-table-container>
        <table md-table md-row-select multiple ng-model="selected">
          <thead md-head>
            <tr md-row>
              <th md-column>Tipo da Refeição</th>
              <th md-column>Dia da Refeição</th>
              <th md-column>Edital</th>
              <th md-column>Validade</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="diaRefeicao" md-select-id="id" md-auto-select
              ng-repeat="diaRefeicao in refeicoes">
              <td md-cell>{{diaRefeicao.refeicao.tipo | uppercase}}</td>
              <td md-cell>{{diaRefeicao.dia.nome | uppercase}}</td>
              <td md-cell>{{diaRefeicao.edital.nome | uppercase}}</td>
              <td md-cell>
                {{diaRefeicao.edital.dataInicial | date:'dd/MM/yyyy h:mma'}}
                -
                {{diaRefeicao.edital.dataFinal | date:'dd/MM/yyyy h:mma'}}
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card>
  </md-tab>

  <!-- Tab 2 -->
  <md-tab label="Histórico de refeições">
    <timeline>
      <timeline-event ng-repeat="diaRefeicao in diaRefeicaoHistorico">
        <timeline-panel>
          <timeline-heading>
            <h4>{{diaRefeicao.refeicao.tipo}}</h4>
          </timeline-heading>
          <p>Edital: {{diaRefeicao.edital.nome}}</p>
          <p>Dia: {{diaRefeicao.dia.nome}}</p>
          <p>Validade:
            {{diaRefeicao.edital.dataInicial | date:'dd/MM/yyyy h:mma'}}
            -
            {{diaRefeicao.edital.dataFinal | date:'dd/MM/yyyy h:mma'}}
          </p>
          <p>Inserido: {{diaRefeicao.edital.dataInsercao | date}}</p>
        </timeline-panel>
      </timeline-event>
    </timeline>
  </md-tab>
</md-tabs>
