<div layout="row">

    <canvas class="chart chart-line" flex="50"
        chart-data="pretensaoChart.data"
        chart-labels="pretensaoChart.labels"
        chart-colors="pretensaoChart.colors"
        chart-series="pretensaoChart.series">
    </canvas>

    <canvas class="chart chart-line" flex="50"
        chart-data="refeicaoRealizadaChart.data"
        chart-labels="refeicaoRealizadaChart.labels"
        chart-colors="refeicaoRealizadaChart.colors"
        chart-series="refeicaoRealizadaChart.series">
    </canvas>

</div>
