<md-card>
  <md-table-container>
    <!-- Cabeçalho de opções -->
    <md-card-header class="nutrif-md-card-header">
      <md-card-avatar>
        <md-icon class="md-avatar-icon" md-svg-icon="img/icon/copy-content.svg">
        </md-icon>
      </md-card-avatar>

      <md-card-header-text>
        <span class="md-title">Edital</span>
        <span class="md-subhead">Digite o nome do edital no campo abaixo para buscar ou selecione a opção ao lado para adicionar um novo.</span>
      </md-card-header-text>

      <md-card-actions layout="row">
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="Adicionar Edital" ui-sref="home.adicionar-edital">
            <md-tooltip md-direction="bottom">Adicionar Edital</md-tooltip>
            <md-icon md-svg-icon="img/icon/add-plus-button.svg"></md-icon>
          </md-button>

        </md-card-icon-actions>
      </md-card-actions>
    </md-card-header>

    <!-- Listar Edital -->
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">

        <md-icon style="fill: rgba(0,0,0,.54);" md-svg-icon="img/icon/searching-magnifying-glass.svg"></md-icon>

        <div class="toolbar-input" flex>
          <input type="text" ng-model="texto" ng-keyup="pesquisar(texto)"
          placeholder="Nome do edital">
        </div>

        <md-button aria-label="Limpar Busca" class="md-icon-button" ng-click="limparBusca(texto)">
          <md-tooltip md-direction="bottom">Refazer busca</md-tooltip>
          <md-icon style="fill: rgba(0,0,0,.54);" md-svg-icon="img/icon/replay-arrow.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>

    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column>Edital</th>
          <th md-column>Campus</th>
          <th md-column>Previsão</th>
          <th md-column>Real</th>
          <th md-column>Início</th>
          <th md-column>Fim</th>
          <th md-column>Pretensão</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr md-row ng-repeat="edital in editais | limitTo: query.limit: (query.page - 1) * query.limit">
          <td md-cell>{{edital.nome | uppercase}}</td>
          <td md-cell>{{edital.campus.cidade | uppercase}}</td>
          <td md-cell>{{edital.quantidadeBeneficiadosPrevista}}</td>
          <td md-cell>{{edital.quantidadeBeneficiadosReal}}</td>
          <td md-cell>{{edital.dataInicial | date:'dd/MM/yyyy h:mma'}}</td>
          <td md-cell>{{edital.dataFinal | date:'dd/MM/yyyy h:mma'}}</td>
          <td md-cell>{{edital.previstoPretensao | yesNo}}</td>
    		  <td md-cell>
      			<md-button class="md-icon-button" aria-label="Editar" ui-sref="home.editar-edital({id: edital.id})" ui-sref-opts="{reload: true}">
      				<md-tooltip md-direction="left">Editar Edital</md-tooltip>
      				<md-icon md-svg-icon="img/icon/create-new-pencil-button.svg" style="width: 18px; height: 18px;"></md-icon>
      			</md-button>
    		  </td>
          <td md-cell><md-button class="md-icon-button" aria-label="Listar contemplados" ui-sref="home.listar-contemplados({id: edital.id})" ui-sref-opts="{reload: true}">
            <md-tooltip md-direction="left">Listar Contemplados</md-tooltip>
            <md-icon md-svg-icon="img/icon/list-of-three-elements-on-black-background.svg" style="width: 18px; height: 18px;"></md-icon>
          </md-button></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{editais.length}}" md-page-select></md-table-pagination>
</md-card>
