<md-card>
  <md-table-container>
    <!-- Cabeçalho de opções -->
    <md-card-header class="nutrif-md-card-header">
      <md-card-avatar>
        <md-icon class="md-avatar-icon" md-svg-icon="img/icon/restaurant_white.svg">
        </md-icon>
      </md-card-avatar>

      <md-card-header-text>
        <span class="md-title">Refeição</span>
        <span class="md-subhead">Digite o nome da refeição no campo abaixo para buscar ou selecione a opção ao lado para adicionar um novo.</span>
      </md-card-header-text>

      <md-card-actions layout="row">
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="Adicionar Refeições" ui-sref="home.adicionar-refeicao">
            <md-tooltip md-direction="bottom">Adicionar Refeição</md-tooltip>
            <md-icon md-svg-icon="img/icon/add-plus-button.svg"></md-icon>
          </md-button>

        </md-card-icon-actions>
      </md-card-actions>
    </md-card-header>

    <!-- Listar Refeição -->
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">

        <md-icon style="fill: rgba(0,0,0,.54);" md-svg-icon="img/icon/searching-magnifying-glass.svg"></md-icon>

        <div class="toolbar-input" flex>
          <input type="text" ng-model="texto" ng-keyup="pesquisar(texto)"
          placeholder="Nome da refeição">
        </div>

        <md-button aria-label="Limpar Busca" class="md-icon-button" ng-click="limparBusca(texto)">
          <md-tooltip md-direction="bottom">Refazer busca</md-tooltip>
          <md-icon style="fill: rgba(0,0,0,.54);" md-svg-icon="img/icon/replay-arrow.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>

    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column>Refeição</th>
          <th md-column>Horário Inicial</th>
          <th md-column>Horário Final</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr md-row ng-repeat="refeicao in refeicoes | limitTo: query.limit: (query.page - 1) * query.limit">
          <td md-cell>{{refeicao.tipo | uppercase}}</td>
          <td md-cell>{{refeicao.horaInicio | date: hh:mm:ss : timezone}}</td>
          <td md-cell>{{refeicao.horaFinal | date: hh:mm:ss : timezone}}</td>
		  <td md-cell>
			<md-button class="md-icon-button" aria-label="Editar" ui-sref="home.editar-refeicao({id: refeicao.id})" ui-sref-opts="{reload: true}">
				<md-tooltip md-direction="left">Editar Refeição</md-tooltip>
				<md-icon md-svg-icon="img/icon/create-new-pencil-button.svg" style="width: 18px; height: 18px;"></md-icon>
			</md-button>
		  </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{refeicao.length}}" md-page-select></md-table-pagination>
</md-card>
