<div class="section">
    
    <h4 class="condensed light center">Atualização de Aluno</h4>

    <form name="inserirMatriculaForm" class="section row" ng-submit="buscarAlunos(matricula)">
        <div class="col s12">
            <div class="input-field col s12">
                <input placeholder="Digite entre 11 e 12 números" id="matricula" type="number"
                ng-model="matricula" ng-minlength="11" ng-maxlength="12" ng-required="true"/>
                <label for="matricula" class="active">Matrícula</label>
            </div>
        </div>
        <div class="col s12">
            <button ng-disabled="inserirMatriculaForm.$invalid"
                class="btn waves-effect waves-light light-green darken-1 button-width-margin" type="submit">
                <i class="material-icons left">search</i>
                Pesquisar Aluno
            </button>
        </div>
    </form>
</div>
