<form ng-submit="cadastrar(diaRefeicao)">
    <div class="section row">
        <div class="input-field col s9">
            <input id="nome_completo" type="text" ng-model="diaRefeicao.aluno.nome">
            <label for="nome_completo">Nome Completo</label>
        </div>
        <div class="input-field col s3">
            <input id="matricula" type="text" ng-model="diaRefeicao.aluno.matricula">
            <label for="matricula">Matrícula</label>
        </div>
    </div>

    <div class="section row">

        <div class="col s4 input-field">
            <div class="select-wrapper">
                <select class="browser-default" ng-options="curso.nome for curso in cursos"
                    ng-model="diaRefeicao.aluno.curso">
                    <option value="" disabled selected>Selecione</option>
                </select>
            </div>
            <label class="select-label">Curso</label>
        </div>

        <div class="col s4 input-field">
            <div class="select-wrapper">
                <select class="browser-default" ng-options="refeicao.tipo for refeicao in refeicoes"
                    ng-model="diaRefeicao.refeicao">
                    <option value="" disabled selected>Selecione</option>
                </select>
            </div>
            <label class="select-label">Tipo de Refeição</label>
        </div>
        
        <div class="col s4 input-field">
            <div class="select-wrapper">
                <select class="browser-default" ng-options="dia.nome for dia in dias" ng-model="diaRefeicao.dia">
                    <option value="" disabled selected>Selecione</option>
                </select>
            </div>
            <label class="select-label">Dia</label>
        </div>
    </div>

    <div class="section-row center-align">
        <button class="btn waves-effect waves-light light-green darken-1" type="submit">
            Registrar
        </button>
    </div>
</form>