<div class="section row">

    <div class="input-field col s4">
        <input id="matricula" type="text" ng-model="refeicao.aluno.matricula" ng-keyup="buscarRefeicoes(refeicao)">
        <label for="matricula">Matrícula</label>
    </div>

    <div class="input-field col s8">
        <input id="nome_completo" type="text" ng-model="refeicao.aluno.nome" ng-keyup="buscarRefeicoes(refeicao)">
        <label for="nome_completo">Nome Completo</label>
    </div>

</div>

<div class="section">

    <table class="centered striped">
        <thead>
            <tr>
                <th data-field="nome">Nome Completo</th>
                <th data-field="matricula">Matrícula</th>
                <th data-field="tipo-refeicao">Tipo Refeição</th>
                <th data-field="dia">Dia da semana</th>
                <th  class="align-center" data-field="registrar">Registrar Refeição</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="refeicao in refeicoes">
                <td>{{refeicao.aluno.nome | uppercase}}</td>
                <td>{{refeicao.aluno.matricula}}</td>
                <td>{{refeicao.refeicao.tipo | uppercase}}</td>
                <td>{{refeicao.dia.nome | uppercase}}</td>
                <td>
                    <button class="btn waves-effect waves-light light-green darken-1" ng-click="selecionarRefeicao(refeicao)">
                        Registrar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-include="'view/modals/confirmar-refeicao.html'" scope="" onload=""></div>
