<link rel="stylesheet" type="text/css" href="css/login.css"/>

<div class="row">
	<div class="col s12">
		<div class="card-panel">
			<div class="center-align">
				
				<div class="section">
					<h4 class="condensed light">Olá, {{geral.getUser().nome}}.</h5>
					<h6 class="condensed light">
						Clique em solicitar para confirmar que irá realizar essa refeição.
					</h6>
				</div>

				<table class="centered striped">
					<thead>
						<tr>
							<th data-field="tipo-refeicao">Tipo da Refeiçao</th>
							<th data-field="dia-refeicao">Dia da Refeição</th>
							<th data-field="solicitar">Solicitar</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="refeicao in refeicoes">
							<td>{{refeicao.refeicao.tipo | uppercase}}</td>
							<td>{{refeicao.dia.nome | uppercase}}</td>
							<td>
								<button class="btn waves-effect waves-light light-green darken" 
										ng-click="abrirModalPretensao(refeicao)">
									Solicitar
								</button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>

<div ng-include="'view/modals/confirmar-pretensao.html'"></div>