<div layout="row" layout-align="center center" class="form-whiteframe">
    <md-card flex-gt-sm="35" flex-gt-lg="30" flex-sm="50" flex-xs="90" class="form-body">

        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-display-2-light">Pretensão</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content layout="column">

            <form layout="column" ng-submit="verificarAcesso(aluno.matricula)">
                <md-input-container class="md-icon-float md-block">
                    <md-icon md-svg-src="image/icon/round-account-button-with-user-inside.svg"></md-icon>
                    <label>Matrícula</label>
                    <input ng-model="aluno.matricula" type="text" ng-required="true">
                </md-input-container>

                <md-button type="submit" class="md-raised md-primary md-hue-1">Entrar</md-button>
            </form>

        </md-card-content>
    </md-card>
</div>