<nav>
    <div class="nav-wrapper green darken-4">

        <a href="#" class="brand-logo center" ng-if="!geral.estaLogado()"><img src="img/logo-branca.png" width="210px"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul ng-if="geral.estaLogado()" class="left hide-on-med-and-down" ng-if="geral.estaLogado()">
            <li>
                <a>
                    {{geral.getUserRole()}}
                </a>
            </li>
        </ul>

        <ul class="right hide-on-med-and-down" ng-if="geral.estaLogado()">
            <li>
                <a ng-click="geral.logout()">
                    <i class="material-icons right">power_settings_new</i>
                    Sair
                </a>
            </li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li>
                <a ui-sref="home">
                    <strong>Entrada de alunos</strong>
                </a>
            </li>
            <li>
                <a ui-sref="atualizar-aluno">
                    <strong>Atualizar refeições</strong>
                </a>
                </li>
            <li>
                <a ui-sref="#">
                    <strong>Ajuda</strong>
                </a>
            </li>
            <li>
                <a ui-sref="equipe">
                    <strong>Equipe</strong>
                </a>
            </li>
        </ul>
    </div>
</nav>
