<link rel="stylesheet" type="text/css" href="css/home.css"/>

<ul class="side-nav fixed grey lighten-3">

	<div class="center-align">
		<img class="top-margin" src="img/logo.png" width="67%">
		<div class="divider"></div>
	</div>

	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li>
                <a class="collapsible-header no-active" ui-sref="entrada-aluno">
					<strong>Entrada de alunos</strong>
					<i class="material-icons">play_for_work</i>
			    </a>
            </li>
		</ul>
	</li>

	<li class="no-padding" ng-if="geral.getUserRole() === 'Administrador'">
		<ul class="collapsible collapsible-accordion" ui-sref="atualizar-aluno">
			<li>
				<a class="collapsible-header">
                    <strong>Atualizar alunos</strong>
                    <i class="material-icons">playlist_add</i>
                </a>
			</li>
		</ul>
	</li>

	<li class="no-padding" ng-if="geral.getUserRole() === 'Administrador'">
		<ul class="collapsible collapsible-accordion" ui-sref="cadastro-aluno">
			<li>
				<a class="collapsible-header">
                    <strong>Adicionar aluno</strong>
                    <i class="material-icons">supervisor_account</i>
                </a>
			</li>
		</ul>
	</li>

	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li>
                <a class="collapsible-header no-active" ui-sref="#">
    				<strong>Ajuda</strong>
    				<i class="material-icons">info_outline</i>
			    </a>
            </li>
		</ul>
	</li>

</ul>
