<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ladoss.nutrif">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.edu.ladoss.nutrif.view.activitys.LoginActivity" />
        <activity
            android:name="br.edu.ladoss.nutrif.view.activitys.StartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.edu.ladoss.nutrif.view.activitys.RefeitorioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.edu.ladoss.nutrif.view.activitys.CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:parentActivityName="br.edu.ladoss.nutrif.view.activitys.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ladoss.nutrif.view.activitys.LoginActivity" />
        </activity>
        <activity
            android:name="br.edu.ladoss.nutrif.view.activitys.ConfirmationActivity"
            android:label="@string/confirmacao"
            android:parentActivityName="br.edu.ladoss.nutrif.view.activitys.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ladoss.nutrif.view.activitys.LoginActivity" />
        </activity>
        <activity
            android:name="br.edu.ladoss.nutrif.view.activitys.RefeicaoActivity"
            android:label="@string/title_activity_refeicao"
            android:parentActivityName="br.edu.ladoss.nutrif.view.activitys.RefeitorioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ladoss.nutrif.view.activitys.RefeitorioActivity" />
        </activity>
        <activity android:name="br.edu.ladoss.nutrif.view.activitys.QRCodeActivity"></activity>
    </application>

</manifest>