<md-list-item ng-click="sideNav.openOrCloseSideNav()">
    <md-icon md-svg-icon="img/icon/download-button.svg"></md-icon>
    <p>Entrada de Alunos</p>
</md-list-item>

<md-list-item ng-click="sideNav.openOrCloseSideNav()">
    <md-icon md-svg-icon="img/icon/user-shape.svg"></md-icon>
    <p>Atualizar Alunos</p>
</md-list-item>

<md-list-item ng-click="sideNav.openOrCloseSideNav()">
    <md-icon md-svg-icon="img/icon/add-to-queue-button.svg"></md-icon>
    <p>Adicionar Alunos</p>
</md-list-item>

<md-list-item ng-click="sideNav.openOrCloseSideNav()">
    <md-icon md-svg-icon="img/icon/time-lapse.svg"></md-icon>
    <p>Estatísticas</p>
</md-list-item>
