<md-list-item ui-sref="home.listar-alunos" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/user-shape.svg"></md-icon>
    <p>Listar Alunos</p>
</md-list-item>

<md-list-item ui-sref="home.adicionar-alunos" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/add-to-queue-button.svg"></md-icon>
    <p>Adicionar Alunos</p>
</md-list-item>

<md-list-item ui-sref="home.listar-funcionarios" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/list-of-three-elements-on-black-background.svg"></md-icon>
    <p>Listar Funcionários</p>
</md-list-item>

<md-list-item ui-sref="home.adicionar-funcionarios" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/rounded-add-button.svg"></md-icon>
    <p>Adicionar Funcionários</p>
</md-list-item>

<!-- <md-list-item ui-sref="home.remover-funcionarios" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/remove.svg"></md-icon>
    <p>Remover Funcionários</p>
</md-list-item>  -->
