<md-list-item ui-sref="home.listar-alunos" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/user-shape.svg"></md-icon>
    <p>Aluno</p>
</md-list-item>

<md-list-item ui-sref="home.listar-funcionarios" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/employee-icon.svg"></md-icon>
    <p>Funcionário</p>
</md-list-item>

<md-list-item ui-sref="home.listar-edital" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/copy-content.svg"></md-icon>
    <p>Edital</p>
</md-list-item>

<md-list-item ui-sref="home.listar-refeicoes" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/restaurant-teste.svg"></md-icon>
    <p>Refeição</p>
</md-list-item>

<md-list-item ui-sref="home.listar-eventos" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/connection-indicator.svg"></md-icon>
    <p>Evento</p>
</md-list-item>

<md-list-item ui-sref="home.listar-cursos" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/graduate-cap.svg"></md-icon>
    <p>Curso</p>
</md-list-item>

<md-list-item ui-sref="home.estatisticas" ui-sref-opts="{reload: true}">
    <md-icon md-svg-icon="img/icon/poll-symbol-on-black-square-with-rounded-corners.svg"></md-icon>
    <p>Estatísticas</p>
</md-list-item>
