<md-content flex layout-padding>
    <md-card>
        <md-table-container>
            <!-- Cabeçalho de opções -->
            <md-card-header>
                <md-card-avatar>
                    <ng-md-icon icon="place" size="42"></ng-md-icon>
                </md-card-avatar>

                <md-card-header-text>
                    <span class="md-title">Entrada de Aluno no Refeitório</span>
                    <span class="md-subhead">
                        Digite o nome do Aluno ou Matrícula no campo abaixo para buscar.
                    </span>
                </md-card-header-text>
            </md-card-header>

            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">

                    <ng-md-icon icon="search" size="32"></ng-md-icon>

                    <div class="toolbar-input" flex>
                        <input type="text" ng-model="nomeOuMatricula" ng-keyup="pesquisar()" placeholder="Nome ou Matrícula do Aluno">
                    </div>

                    <md-button aria-label="Limpar Busca" ng-click="limparBusca()">
                        <md-tooltip md-direction="bottom">Limpar Busca</md-tooltip>
                        <ng-md-icon icon="clear" size="32"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <!-- Tabela -->
            <table md-table md-row-select ng-model="selectedDiasRefeicao">
                <thead md-head>
                    <tr md-row>
                        <th md-column>Nome</th>
                        <th md-column>Matrícula</th>
                        <th md-column>Refeição</th>
                        <th md-column>Dia</th>
                    </tr>
                </thead>

                <tbody md-body>
                    <tr md-row md-select="diaRefeicao" md-on-select="adicionarRefeicaoRealizada" md-select-id="diaRefeicao.id" md-auto-select ng-repeat="diaRefeicao in diasRefeicao">
                        <td md-cell>{{diaRefeicao.matricula.aluno.nome}}</td>
                        <td md-cell>{{diaRefeicao.matricula.numero}}</td>
                        <td md-cell>{{diaRefeicao.refeicao.tipo}}</td>
                        <td md-cell>{{diaRefeicao.dia.nome}}</td>                        
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{diasRefeicao.length}}" md-page-select></md-table-pagination>
    </md-card>
</md-content>