<!-- Dados básicos -->
<md-card>
    <md-card-header>
        <md-card-avatar>
            <md-icon class="md-avatar-icon" md-svg-icon="image/icon/create-new-pencil-button.svg"></md-icon>
        </md-card-avatar>

        <md-card-header-text>
            <span class="md-title">Editar informações básicas do aluno</span>
            <span class="md-subhead">Clique nesse botão salvar para alterar as informações básicas do Aluno.</span>
        </md-card-header-text>

        <!-- Foto do Perfil -->
        <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Perfil do Aluno." ng-click="perfilAluno()">
                <md-tooltip md-direction="bottom">Perfil do Aluno</md-tooltip>
                <md-icon md-svg-icon="image/icon/camera.svg"></md-icon>
            </md-button>
        </md-card-icon-actions>

        <!-- Salvar alterações -->
        <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Salvar Alterações dos Dados Básicos." ng-click="atualizarBasico(alunoCopy)">
                <md-tooltip md-direction="bottom">Salvar Alterações dos Dados Básicos</md-tooltip>
                <md-icon md-svg-icon="image/icon/save-button.svg"></md-icon>
            </md-button>
        </md-card-icon-actions>

    </md-card-header>
    <md-card-content layout="column">

        <!-- Nome -->
        <md-input-container class="md-icon-float md-block">
            <label>Nome</label>
            <input ng-model="alunoCopy.nome" type="text" required>
        </md-input-container>

        <!-- Matrícula -->
        <md-input-container class="md-icon-float md-block">
            <label>Matrícula</label>
            <input ng-model="alunoCopy.matricula" type="text" required>
        </md-input-container>

        <!-- Campus -->
        <md-input-container class="md-icon-float md-block">
            <label>Campus</label>
            <md-select ng-model="alunoCopy.campus.id" aria-label="Selecione o Campus" ng-required="true">
                <md-option ng-repeat="campus in campi" value="{{campus.id}}">
                    {{campus.cidade}}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- Curso -->
        <md-input-container flex>
            <label>Curso</label>
            <md-select ng-model="alunoCopy.curso.id" aria-label="Selecione o Curso" ng-required="true">
                <md-option ng-repeat="curso in cursos" value="{{curso.id}}">
                    {{curso.nome}}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- Período -->
        <md-input-container class="md-icon-float md-block">
            <label>Ano/Período</label>
            <md-select ng-model="alunoCopy.periodo.id" aria-label="Selecione o Período" ng-required="true">
                <md-option ng-repeat="periodo in periodos" value="{{periodo.id}}">
                    {{periodo.nome}}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- Turno -->
        <md-input-container class="md-icon-float md-block">
            <label>Turno</label>
            <md-select ng-model="alunoCopy.turno.id" aria-label="Selecione o Turno" ng-required="true">
                <md-option ng-repeat="turno in turnos" value="{{turno.id}}">
                    {{turno.nome}}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- Turma -->
        <md-input-container class="md-icon-float md-block">
            <label>Turma</label>
            <md-select ng-model="alunoCopy.turma.id" aria-label="Selecione o Turma" ng-required="true">
                <md-option ng-repeat="turma in turmas" value="{{turma.id}}">
                    {{turma.nome}}
                </md-option>
            </md-select>
        </md-input-container>

    </md-card-content>
</md-card>

<!-- Acesso -->
<md-card>
    <md-card-header>
        <md-card-avatar>
            <md-icon class="md-avatar-icon" md-svg-icon="image/icon/create-new-pencil-button.svg"></md-icon>
        </md-card-avatar>

        <md-card-header-text>
            <span class="md-title">Informações de Acesso</span>
            <span class="md-subhead">Clique nesse botão salvar para alterar as informações de Acesso do Aluno.</span>
        </md-card-header-text>

        <!-- Salvar alterações -->
        <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Salvar Alterações de Acesso." ng-click="atualizarAcesso(alunoCopy)">
                <md-tooltip md-direction="bottom">Salvar Alterações de Acesso</md-tooltip>
                <md-icon md-svg-icon="image/icon/save-button.svg"></md-icon>
            </md-button>
        </md-card-icon-actions>

    </md-card-header>
    <md-card-content layout="column">

        <!-- E-mail -->
        <md-input-container class="md-icon-float md-block">
            <label>E-mail</label>
            <input ng-model="alunoCopy.email" type="email" required>
            <div class="hint">Informe um e-mail que será utilizado para recuperação de senha.</div>
        </md-input-container>

        <!-- Senha -->
        <md-input-container class="md-icon-float md-block">
            <label>Senha</label>
            <input ng-model="alunoCopy.senha" type="password" required>
            <div class="hint">Informe uma senha que será utilizada para acessar o sistema na solicitação da Pretensão.</div>
        </md-input-container>

        <!-- Re-Senha -->
        <md-input-container class="md-icon-float md-block">
            <label>Redigite a Senha</label>
            <input ng-model="alunoCopy.resenha" type="password" required>
            <div class="hint">Redigite a senha para confirmação.</div>
        </md-input-container>
        
    </md-card-content>
</md-card>

<!-- Tab 1 -->
<!-- Adição e remoção de Dia de refeição -->
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Refeições atuais">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="image/icon/view-list-button.svg"></md-icon>
                </md-card-avatar>

                <md-card-header-text>
                    <span class="md-title">Gerenciar refeições</span>
                    <span class="md-subhead">Selecione a(s) Refeição(ões) para Remover ou Adicione uma nova.</span>
                </md-card-header-text>

                <md-card-actions layout="row">
                    <md-card-icon-actions>

                        <md-button class="md-icon-button" aria-label="Apagar Refeições" ng-click="removerRefeicao(selected)">
                            <md-tooltip md-direction="bottom">Apagar Refeições</md-tooltip>
                            <md-icon md-svg-icon="image/icon/rubbish-bin-delete-button.svg"></md-icon>
                        </md-button>

                        <md-button class="md-icon-button" aria-label="Adicionar Refeições" ng-click="adicionarRefeicao()">
                            <md-tooltip md-direction="bottom">Adicionar Refeições</md-tooltip>
                            <md-icon md-svg-icon="image/icon/add-plus-button.svg"></md-icon>
                        </md-button>

                    </md-card-icon-actions>
                </md-card-actions>
            </md-card-header>

            <md-table-container>
                <table md-table md-row-select multiple ng-model="selected">
                    <thead md-head>
                        <tr md-row>
                            <th md-column>Tipo da Refeição</th>
                            <th md-column>Dia da Refeição</th>
                            <th md-column>Edital</th>
                            <th md-column>Validade</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="diaRefeicao" md-select-id="id" md-auto-select ng-repeat="diaRefeicao in refeicoes">
                            <td md-cell>{{diaRefeicao.refeicao.tipo | uppercase}}</td>
                            <td md-cell>{{diaRefeicao.dia.nome | uppercase}}</td>
                            <td md-cell>{{diaRefeicao.edital.nome | uppercase}}</td>
                            <td md-cell>
                                {{diaRefeicao.edital.dataInicial | date:'dd/MM/yyyy h:mma'}} - {{diaRefeicao.edital.dataFinal | date:'dd/MM/yyyy h:mma'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card>
    </md-tab>

    <!-- Tab 2 -->
    <md-tab label="Histórico de refeições">
        <timeline>
            <timeline-event ng-repeat="diaRefeicao in diaRefeicaoHistorico">
                <timeline-panel>
                    <timeline-heading>
                        <h4>{{diaRefeicao.refeicao.tipo}}</h4>
                    </timeline-heading>
                    <p>Edital: {{diaRefeicao.edital.nome}}</p>
                    <p>Dia: {{diaRefeicao.dia.nome}}</p>
                    <p>Validade: {{diaRefeicao.edital.dataInicial | date:'dd/MM/yyyy h:mma'}} - {{diaRefeicao.edital.dataFinal | date:'dd/MM/yyyy h:mma'}}
                    </p>
                    <p>Inserido: {{diaRefeicao.edital.dataInsercao | date}}</p>
                </timeline-panel>
            </timeline-event>
        </timeline>
    </md-tab>
</md-tabs>