<md-card layout-padding style="padding-left: 6%; padding-right: 6%; padding-bottom: 4%; padding-top: 3%">

    <!-- Formulário -->
    <form layout="column" ng-submit="migrarSabado.migrar()">

        <!-- Dia -->
        <md-input-container class="md-icon-float md-block">
            <label>Dia</label>
            <md-select ng-model="idDia" required>
                <md-option ng-repeat="dia in dias" value="{{dia.id}}">
                    {{dia.nome}}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- Edital -->
        <md-autocomplete flex md-selected-item="migrarSabado.selectedItem" md-search-text="migrarSabado.searchText" md-items="edital in migrarSabado.buscarEditais(migrarSabado.searchText)" md-item-text="edital.nome" md-min-length="3" md-no-cache="true" md-auto-focus="false" md-floating-label="Edital" placeholder="Edital" required>
            <md-item-template>
                <span md-highlight-text="migrarSabado.searchText">
                  {{edital.nome}}
                </span>
            </md-item-template>
        </md-autocomplete>

        <md-button type="submit" layout-fill type="submit" class="md-raised md-primary md-hue-1 flex" style="margin-top: 40px">
            Migrar Sábado
        </md-button>
    </form>

</md-card>