<md-dialog aria-label="Confirmar Refeição" style="width:50%;" ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h2>Adicionar Refeição</h2>

            <div layout="column">
                <!-- Aluno -->
                <md-input-container>
                    <label>Aluno</label>
                    <input ng-model="aluno.nome" type="text" disabled>
                </md-input-container>

                <!-- Edital -->
                <md-input-container>
                    <label>Edital</label>
                    <md-select ng-model="diaRefeicao.edital.id">
                        <md-option ng-repeat="edital in editais" value="{{edital.id}}">
                            {{edital.nome}} - {{edital.responsavel.nome}} - {{edital.evento.nome}} - {{edital.dataInicial | date:'dd/MM/yyyy h:mma'}} a {{edital.dataFinal | date:'dd/MM/yyyy h:mma'}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!-- Refeição -->
                <md-input-container>
                    <label>Refeição</label>
                    <md-select ng-model="diaRefeicao.refeicao.id">
                        <md-option ng-repeat="refeicao in refeicoes" value="{{refeicao.id}}">
                            {{refeicao.tipo}}
                        </md-option>
                    </md-select>
                </md-input-container>
                
                <!-- Dia -->
                <fieldset>
                    <legend>Dias</legend>
                    <div class="demo-select-all-checkboxes" ng-repeat="dia in dias" >
                        <md-checkbox ng-required="true" aria-label="dia.nome" value="{{dia.id}}" ng-checked="exists(dia, selectedDias)" ng-click="toggle(dia, selectedDias)">
                            {{ dia.nome }}
                        </md-checkbox>
                    </div>
                </fieldset>
                
            </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" class="md-warn">
            Cancelar
        </md-button>
        <md-button ng-click="adicionarDiaRefeicao(diaRefeicao)" class="md-primary" style="margin-right:20px;">
            Confirmar
        </md-button>
    </md-dialog-actions>
</md-dialog>