<!-- Modal - Gerar e imprimir QR-Code -->
<link rel="stylesheet" type="text/css" href="../../css/qr-codePrint.css"/>
<md-dialog aria-label="Confirmar solicitação de refeição"  ng-cloak>    
		<md-dialog-content class="md-dialog-content">
			<p><b>Nome: </b>{{user.nome}}</br>
			<b>Matrícula: </b>{{user.matricula}}</br>
			<b>Dia: </b>{{refeicao}}</br>
			{{dataRefeicao | date}}</p>
			<div>
				<qr text="code"></qr>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="hide()" class="md-primary" style="margin-right:20px;">
				Imprimir
			</md-button>
		</md-dialog-actions>	
</md-dialog>
