<md-dialog aria-label="Confirmar Refeição"  ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h2>Informe qual refeição deseja adicionar</h2>
            
            <div layout="column">
                <md-input-container>
                    <label>Selecione um dia</label>
                    <md-select ng-model="refeicao.dia.id">
                        <md-option ng-repeat="dia in dias" value="{{dia.id}}">
                            {{dia.nome}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Selecione uma refeição</label>
                    <md-select ng-model="refeicao.refeicao.id">
                        <md-option ng-repeat="tipoRefeicao in tiposRefeicao" value="{{tipoRefeicao.id}}">
                            {{tipoRefeicao.tipo}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" class="md-warn">
            Cancelar
        </md-button>
        <md-button ng-click="hide(refeicao)" class="md-primary" style="margin-right:20px;">
            Confirmar
        </md-button>
    </md-dialog-actions>
</md-dialog>
