<md-content flex layout-padding>
    <md-card flex layout-padding>

        <md-card-header>
            <md-card-avatar>
                <ng-md-icon icon="people" size="42"></ng-md-icon>
            </md-card-avatar>

            <md-card-header-text>
                <span class="md-title">Adicionar Funcionário ou Servidor</span>
                <span class="md-subhead">Clique nesse botão salvar para alterar as informações básicas do Funcionário ou Servidor.</span>
            </md-card-header-text>

            <!-- Salvar alterações -->
            <md-card-icon-actions>
                <md-button aria-label="Salvar Alterações dos dados básicos do Funcionário/Servidor." ng-click="adicionar()">
                    <md-tooltip md-direction="bottom">Salvar Funcionário ou Servidor</md-tooltip>
                    <ng-md-icon icon="save" size="42"></ng-md-icon>
                </md-button>
            </md-card-icon-actions>
        </md-card-header>

        <md-card-content layout="column">
            <form layout="column">

                <!-- CPF -->
                <md-input-container class="md-icon-float md-block">
                    <label>Cpf</label>
                    <input ng-model="funcionario.cpf" ui-mask="999.999.999-99" title="Formato para cadastro de cpf: 000.000.00-00" required>
                </md-input-container>
                
                <!-- Siape -->
                <md-input-container class="md-icon-float md-block">
                    <label>Siape</label>
                    <input ng-model="funcionario.siape" type="text">
                </md-input-container>

                <!-- Nome -->
                <md-input-container class="md-icon-float md-block">
                    <label>Nome</label>
                    <input ng-model="funcionario.nome" type="text" required>
                </md-input-container>

                <!-- Perfil -->
                <md-input-container class="md-icon-float md-block">
                    <label>Perfil</label>
                    <md-select ng-model="funcionario.role.id" aria-label="Selecione o Campus" ng-required="true">
                        <md-option ng-repeat="role in roles" value="{{role.id}}">
                            {{role.nome}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!-- Campus -->
                <md-input-container class="md-icon-float md-block">
                    <label>Campus</label>
                    <md-select ng-model="funcionario.campus.id" aria-label="Selecione o Campus" ng-required="true">
                        <md-option ng-repeat="campus in campi" value="{{campus.id}}">
                            {{campus.cidade}}
                        </md-option>
                    </md-select>
                </md-input-container>

            </form>
        </md-card-content>
    </md-card>

    <!-- Acesso -->
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <ng-md-icon icon="security" size="42"></ng-md-icon>
            </md-card-avatar>

            <md-card-header-text>
                <span class="md-title">Informações de Acesso</span>
                <span class="md-subhead">Clique nesse botão salvar para alterar as informações de Acesso do Funcionário ou Servidor.</span>
            </md-card-header-text>

        </md-card-header>
        <md-card-content layout="column">

            <!-- Email -->
            <md-input-container class="md-icon-float md-block">
                <label>E-mail</label>
                <input ng-model="funcionario.email" type="email" title="Formato para cadastro de email: usuario@email.com">
                <div class="hint">Informe um e-mail que será utilizado para realizar o login e recuperar de senha.</div>
            </md-input-container>

            <!-- Senha -->
            <md-input-container class="md-icon-float md-block">
                <label>Senha</label>
                <input ng-model="funcionario.senha" type="password">
                <div class="hint">Informe uma senha que será utilizada para acessar o sistema na solicitação da Pretensão.</div>
            </md-input-container>

            <!-- Re-Senha -->
            <md-input-container class="md-icon-float md-block">
                <label>Redigite a Senha</label>
                <input ng-model="funcionario.resenha" type="password">
                <div class="hint">Redigite a senha para confirmação.</div>
            </md-input-container>

        </md-card-content>
    </md-card>
</md-content>