<md-content flex layout-padding>
    <md-card>
        <md-table-container>
            <!-- Cabeçalho de opções -->
            <md-card-header>
                <md-card-avatar>
                    <ng-md-icon icon="school" size="42"></ng-md-icon>
                </md-card-avatar>

                <md-card-header-text>
                    <span class="md-title">Refeições Realizadas</span>
                    <span class="md-subhead">
                        Digite o nome ou a matrícula do aluno no campo abaixo para buscar a Refeição Realizada para o <b>{{extratoRefeicao.refeicao.tipo}}</b> em: <b>{{extratoRefeicao.dataExtrato | date : "dd/MM/yyyy" : timestamp}} - {{extratoRefeicao.dia.nome}}</b>. Para gerar a lista em formato CSV escolha a opção Exportar.      
                    </span>
                </md-card-header-text>
                
            </md-card-header>

            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">

                    <ng-md-icon icon="search" size="32"></ng-md-icon>

                    <div class="toolbar-input" flex>
                        <input type="text" ng-model="nomeOuMatricula" ng-keyup="pesquisar()" placeholder="Nome ou Matrícula do Aluno">
                    </div>

                    <md-button aria-label="Limpar Busca" ng-click="limparBusca()">
                        <md-tooltip md-direction="bottom">Limpar Busca</md-tooltip>
                        <ng-md-icon icon="clear" size="32"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            
            <!-- Exportar conteúdo para CSV -->
            <a class="btn" title="Exportar para CSV" ng-click="refeicoesRealizadasCSV.generate()" ng-href="{{ refeicoesRealizadasCSV.link() }}" download="refeicoes_realizadas_{{0 | relativeDate}}.csv">
                <ng-md-icon icon="file_download" size="16"></ng-md-icon>
                CVS
            </a>
            
            <!-- Tabela -->
            <table md-table export-csv="refeicoesRealizadasCSV" separator=";">
                <thead md-head md-order="refeicaoRealizada.confirmaRefeicaoDia.diaRefeicao.matricula.aluno.nome" md-on-reorder="logOrder">
                    <tr md-row>
                        <th md-column md-order-by="refeicaoRealizada.confirmaRefeicaoDia.diaRefeicao.matricula.aluno.nome">
                            Aluno
                        </th>
                        <th md-column>Matrícula</th>
                        <th md-column>Refeição</th>
                        <th md-column>Dia</th>
                        <th md-column>Responsável</th>
                        <th md-column>Data</th>
                        <th md-column>Hora</th>
                    </tr>
                </thead>

                <tbody md-body>
                    <tr md-row ng-repeat="refeicaoRealizada in refeicoesRealizadas | orderBy: refeicaoRealizada.confirmaRefeicaoDia.diaRefeicao.matricula.aluno.nome">
                        <td md-cell>{{refeicaoRealizada.confirmaRefeicaoDia.diaRefeicao.matricula.aluno.nome | uppercase}}</td>
                        <td md-cell>{{refeicaoRealizada.confirmaRefeicaoDia.diaRefeicao.matricula.numero}}</td>                        
                        <td md-cell>{{refeicaoRealizada.confirmaRefeicaoDia.diaRefeicao.refeicao.tipo | uppercase}}</td>
                        <td md-cell>{{refeicaoRealizada.confirmaRefeicaoDia.diaRefeicao.dia.nome | uppercase}}</td>
                        <td md-cell>{{refeicaoRealizada.inspetor.nome}}</td>                        
                        <td md-cell>{{refeicaoRealizada.confirmaRefeicaoDia.dataRefeicao | date : "dd/MM/yyyy" : timestamp}}</td>
                        <td md-cell>{{refeicaoRealizada.horaRefeicao | uppercase}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card>
</md-content>