<md-toolbar layout="row" class="md-whiteframe-4dp">
    <div class="md-toolbar-tools">
        <div flex layout="row" class="md-toolbar-tools">
            <md-button aria-label="Menu" ng-click="sideNav.openOrCloseSideNav()" class="md-icon-button">
                <md-tooltip md-direction="bottom">Mostrar/Ocultar Menu</md-tooltip>
                <md-icon md-svg-icon="image/icon/menu-button.svg"></md-icon>
            </md-button>
        </div>
        <h1 ng-bind="sideNav.title"></h1>
        <span flex></span>
        <md-button aria-label="Menu" class="md-icon-button" ng-click="sideNav.logoutManager()">
            <md-tooltip md-direction="bottom">Sair</md-tooltip>
            <md-icon md-svg-icon="image/icon/power-button.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>
